@font-face {
  font-family: 'Montalban-bold-italic';
  src: url('fonts/pixel-sagas_montalban/Montalban Bold Italic.otf');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #000938; */
  height: 96vh;
  width: 98vw;
  font-family: 'Montalban-bold-italic', Helvetica, monospace;
  color: Mediumspringgreen;
}

main {
  height: 80%;
  width: 80%;
  margin: -80px auto 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 420px;
  justify-content: center;
  align-items: center;
  margin: -75px auto;
  transform: perspective(95px) rotateX(15deg);
}
@keyframes glow {
  0%{border-width: 2px}
  50%{border-width: 3px;
    border-color: #00face }
    100%{border-width: 2px}
}

.grid div.tilt-left {
  transform: perspective(15px) rotateY(15deg);
}

.grid div.tilt-right {
  transform: perspective(15px) rotateY(-15deg);
}

.grid-border-left{
  border-left: solid Mediumspringgreen 2px;
  animation: glow 0.3s infinite;
}

.grid-border-right{
  border-right: solid Mediumspringgreen 2px;
  animation: glow 0.3s infinite;
}

.splash-menu, .splash-leaders {
  border: solid Mediumspringgreen 2px;
  text-align: center;
  background-color: #000938;
  position: fixed;
  z-index: 12;
  width: 50%;
  height: 300px;
  left: 25%;
  top: 25%;
}

.splash-leaders li {
  text-align: justify;
}

section.info, section.controls {
  margin: 0 auto;
  height: 5%;
  width: 85%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

span {
  border: solid Mediumspringgreen 1px;
  width: 250px;
  font-size: 20px;
  text-decoration: underline;
}
.grid div {
  width: 20px;
  height: 20px;
  margin: 0;
  border: solid Mediumspringgreen 0.5px;
  /* border-left: solid Mediumspringgreen 0.1px;
  /* border-right: solid Mediumspringgreen 0.1px; */
}

div.shuttle {
  background-image: url(images/spaceship1.png);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  transform: perspective(95px) rotateX(15deg);
}
div.debris1{
/* image only   */
}

div.debris {
  background-image: url(images/debris6.png);
  background-size: cover;
  transform: perspective(95px) rotateX(15deg);
}

div.bonus {
  border: solid white 0.5px;
  border-radius: 10px;
  animation: rainbow 2s infinite;
  animation-timing-function: linear;
  transform: perspective(95px) rotateX(15deg);
}
@keyframes rainbow {
  0%{background-color: #e81d1d}
  10%{background-color: #e8b71d}
  20%{background-color: #e3e81d}
  30%{background-color: #e3e81d}
  40%{background-color: #1de840}
  50%{background-color: #1de840}
  60%{background-color: #1ddde8}
  70%{background-color: #2b1de8}
  80%{background-color: #dd00f3}
  90%{background-color: #dd00f3}
  100%{background-color: #ff2400}
}
.controls {
  margin-top: 10px;
  text-align: center;
}

.controls div {
  background-color: #000938;
  width: 175px;
  height: 30px;
  border: solid Mediumspringgreen 1px;
  margin: 0 6px;
}
#background-img {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: rotate(90deg);
}
