.grid {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 420px;
  justify-content: center;
  align-items: center;
  margin: -75px auto;
  transform: perspective(95px) rotateX(15deg);
  background-color: yellow;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #000938; */
  height: 96vh;
  width: 98vw;
  font-family: 'Montalban-bold-italic', Helvetica, monospace;
  color: Mediumspringgreen;
}

.splash-menu, .splash-leaders {
  border: solid Mediumspringgreen 1px;
  text-align: center;
  background-color: #000938;
  position: fixed;
  z-index: 12;
  width: 500px;
  height: 300px;
  left: 25%;
  top: 25%;
}
.splash-leaders li {
  text-align: justify;
}
#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: rotate(90deg);
}
@font-face {
  font-family: 'Montalban-bold-italic';
  src: url('fonts/pixel-sagas_montalban/Montalban Bold Italic.otf');
}

main {
  height: 80%;
  width: 80%;
  margin: -80px auto 0 auto;
}
section.info, section.controls {
  margin: 0 auto;
  height: 5%;
  width: 85%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.grid div {
  width: 20px;
  height: 20px;
  margin: 0;
}

div.car {
  background-color: grey;
  border: solid white 0.5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.debris {
  background-color: white;
  border: solid white 0.5px;
  border-radius: 10px;
}

.controls div {
  background-color: #000938;
  width: 175px;
  height: 30px;
  border: solid Mediumspringgreen 1px;
  margin: 0 6px;
}
.controls {
  margin-top: 10px;
  text-align: center;
}
