@font-face {
  font-family: 'Montalban-bold-italic';
  src: url('fonts/pixel-sagas_montalban/Montalban Bold Italic.otf');
}

i {
  -webkit-text-stroke: 1px rgba(0, 9, 56, 1);
}

h2 {
  text-decoration: underline;
}

body {
  height: 97vh;
  width: 98vw;
  font-family: 'Montalban-bold-italic', Helvetica, monospace;
  color: Mediumspringgreen;
}

main.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 97vh;
  width: 98%;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  height: 420px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transform: perspective(95px) rotateX(15deg);
}

.grid-container {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 97vh;
  width: 98vw;
}

.grid div.tilt-left {
  transform: perspective(15px) rotateY(-15deg);
}

.grid div.tilt-right {
  transform: perspective(15px) rotateY(15deg);
}

.grid-border-top {
  border-top: solid Mediumspringgreen 2px;
  animation: glow 0.3s infinite;
}

.grid-border-bottom {
  border-bottom: solid Mediumspringgreen 2px;
  animation: glow 0.3s infinite;
}

.grid-border-left {
  border-left: solid Mediumspringgreen 2px;
  animation: glow 0.3s infinite;
}

.grid-border-right {
  border-right: solid Mediumspringgreen 2px;
  animation: glow 0.3s infinite;
}

.splash-menu-intro, .splash-game-mode, .splash-ship-select, .splash-instructions, .splash-pause, .splash-leaders {
  border: solid Mediumspringgreen 2px;
  text-align: center;
  background-color: rgba(0, 9, 56, 0.5);
  position: fixed;
  z-index: 12;
  width: 80%;
  height: 70%;
  left: 10%;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.splash-leaders div {
  height: 75%;
  width: 80%;
  transform: perspective(35px) rotateX(-2deg);
  margin: 0 auto;
  margin-top: 30px;
}

.yellow {
  color: yellow;
}

.splash-leaders li {
  text-align: left;
  color: yellow;
}

.splash-leaders li:first-of-type {
  animation: rainbow 3s infinite;
}

span.underline {
  text-decoration: underline;
}

section.top-info {
  margin: 0 auto;
  height: 5%;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.select-spacecraft1 {
  display: flex;
}

.select-spacecraft1 img {
  height: 250px;
}

.spacecraft-image {
  width: 60%;
}

.spacecraft-stats {
  width: 40%;
  text-align: left;
}

.top-info h1 {
  font-size: 43px;
  word-spacing: 5px;
  margin: -10px auto 0 auto;
  -webkit-text-stroke: 1px rgba(0, 9, 56, 1);
}

.top-info span {
  border: solid Mediumspringgreen 1px;
  width: 300px;
  font-size: 20px;
  text-decoration: underline;
  justify-content: center;
  background-color: rgba(0, 9, 56, 0.3);
}

.splash-game-mode div > span, .splash-pause > span {
  display: inline-block;
  height: 30px;
  width: 250px;
  border: solid Mediumspringgreen 1px;
  font-size: 20px;
}

.splash-ship-select .previous-spacecraft, .splash-ship-select .next-spacecraft {
  width: 10%;
  height: 25%;
  margin: 8% 1%;
  font-size: 35px;
}

.splash-pause span {
  margin: 0 auto;
}

.grid div {
  width: 25px;
  height: 20px;
  margin: 0;
}

div.spacecraft {
  border: none;
  background-image: url(images/spacecraft1.png);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: 90%;
  height: 20px;
  background-position: center;
  transform: perspective(95px) rotateX(15deg);
}

div.spacecraft1 {
  background-image: url(images/spacecraft1.png);
}

div.spacecraft2 {
  background-image: url(images/spacecraft2.png);
}

div.spacecraft3 {
  background-image: url(images/spacecraft3.png);
}

div.spacecraft4 {
  background-image: url(images/spacecraft4.png);
}

div.debris {
  background-size: contain;
  background-repeat: no-repeat;
  transform: perspective(95px) rotateX(15deg);
}
div.debris1 {
  background-image: url(images/debris1.png);
}

div.debris2 {
  background-image: url(images/debris2.png);
}

div.debris3 {
  background-image: url(images/debris3.png);
}

div.debris4 {
  background-image: url(images/debris4.png);
}

div.debris5 {
  background-image: url(images/debris5.png);
}

div.bonus {
  background-image: url(images/bonus-gif.gif);
  border-radius: 15px;
  background-size: cover;
  transform: perspective(95px) rotateX(15deg);
}

.hover:hover{
  background-color: rgba(0, 9, 56, 1);
}

.hover {
  transition: all 1s;
}

.pulse {
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

.splash-game-mode span.selected {
  border-left: yellow 5px;
  border-right: yellow 5px;
  border-style: double;
  width: 245px;
}

.locked i, .locked:hover span {
  visibility:hidden;
}

.locked:hover i {
 visibility:visible;
}

.locked i {
  position: absolute;
  left: 45%;
  top: 20%;
  color: yellow;
}

.locked {
  position: relative;
  transition: all 1s;
}

div.sound-controls {
  color: yellow;
  font-size: 20px;
  width: 75px;
  height: 25px;
  position: absolute;
  right: 1%;
  display: flex;
  justify-content: flex-end;
  z-index: 15;
}

div.sound-controls i {
  width: 33%;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.laser {
  background-image: url(images/photon-torpedo.png);
  background-size: cover;
}

.grid h3 {
  position: fixed;
  left: 0%;
  top: 90%;
  width: 100%;
  text-align: center;
}

.warp10 {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

@keyframes glow {
  0% {
    border-width: 2px
  }
  50% {
    border-width: 3px;
    border-color: #00face
  }
  100% {
    border-width: 2px
  }
}

@keyframes pulse {
  0%{opacity: 1}
  50%{opacity: 0.5}
  100%{opacity: 1}
}

@keyframes rainbow {
  0%{color: #e81d1d}
  10%{color: #e8b71d}
  20%{color: #e3e81d}
  30%{color: #e3e81d}
  40%{color: #1de840}
  50%{color: #1de840}
  60%{color: #1ddde8}
  70%{color: #2b1de8}
  80%{color: #dd00f3}
  90%{color: #dd00f3}
  100%{color: #ff2400}
}

#background-img {
  position: fixed;
  left: -50vw;
  width: 200vw;
  bottom: 0;
  height: 170vh;
  z-index: -1;
}
